{% extends "base.html.twig" %}

{% block title %} {{ parent() }} {% endblock %}


{% block content %}

    
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            {{ form_start(registrationForm) }}
            
                <h1>Create Account</h1>
                
            {{ form_row(registrationFormType.lastName) }}
            {{ form_row(registrationFormType.name)) }}
            {{ form_row(registrationForm.phone) }}
            {{ form_row(registrationFormType.streetAddress)) }}
            {{ form_row(registrationFormType.commune) }}
            {{ form_row(registrationForm.photo) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}
                <button type="submit">Sign Up</button> 
            {{ form_end(registrationFormType) }}
            
        </div> 
    </div>
{% endblock %}
{% endblock %}

{% block javascripts %}
{{ parent() }}
{% endblock %}


